<head>
	<title>Đề kiểm tra môn Framework 2018-2019</title>
</head>

<body>

<style type="text/css">
	ol {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
        list-style-type: none;
	}

	ol li {				
		padding: 10px;
		margin: 20px;
        border: 1px solid #ddd;
	}

	ol li a {
		display: block;
		width: 250px;
		height: 100%;
		text-decoration: none;
		color: #1a1a1a;
	}

	ol li a:hover {
		text-decoration: underline;
		color: #777777;
	}

	ol li a p {
		font-size: small;
	}
</style>

<ol >
	<li >
		<a href="/Home/Cau01" > 
			<h3>1. Trang thêm bài hát(1.0 điểm</h3>
			<p>Khi người dùng nhấn chọn nút “Thêm” thì trang web thêm thông tin bài hát lấy từcác textfield vào CSDL </p>
			<p><i><u><b style="color: red;">Lưu ý:</b></u> Nên test câu 4 trước (câu Liệt kê những ca sĩ hát tất cảnhững bài hát ) do khi thêm bàt hát mới mà không cho ca sĩ nào hát thì không có ca sĩ nào hát tất cả các bài hát</i></p>
		</a>
	</li>

	<li >
		<a href="/Home/Cau02"  > 
			<h3>2. Dùng kỹthuật lập trình Ajax đểliệt kê danh sách ca sĩ theo ngày tháng năm sinh(2.0điểm)</h3>
			<p >Khi người dùng chọn ngày thì trang web hiển thị Trang 2/2danh sách các ca sĩ có ngày sinh đã chọn vào bảng nằm bên dưới như hình trên </p>
		</a>
	</li>

	<li >
		<a href="/Home/Cau03"  > 
			<h3>3. Liệt kê danh sách người dùng vào một combobox (3.5điểm)</h3>
			<p >Liệt kê danh sách người dùng vào một combobox Dùng kỹ thuật lập trình Ajax để liệt kê các Playlist vào một bảng bên dưới. Khi người dùng chọn link “Xóa” thì trang web xóa dòng được chọn trên web, đồng thời xóa playlist này cùng với những bài hát của playlist đã chọn trong CSDL  </p>
		</a>
	</li>

	<li >
		<a href="/Home/Cau04"  > 
			<h3>4. Liệt kê những ca sĩ hát tất cảnhững bài hát (1.5điểm)</h3>
			<p >Liệt kê những ca sĩ hát tất cảnhững bài hát  </p>
		</a>
	</li>

	<li >
		<a href="/Home/Cau05"  > 
			<h3>5. Liệt kê 10 bài hát được nghe nhiều nhất (2.0điểm)</h3>
			<p >Liệt kê 10 bài hát được nghe nhiều nhất (10bài hát tồn tại trong nhiều playlist nhất) (2.0điểm)và sắp xếp giảm dần theo sốlần xuất hiện như hình dưới (2.0điểm)</p>
		</a>
	</li>

</ol>

<script type="text/javascript" src="~/lib/jquery-3.4.1.min.js"></script>

</body>